<head>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jsMemoryPage.js"></script>
<script type="text/javascript" src="js/jsAMS.js"></script>
</head>
<body>
<center><h2> Argonne Memory Snooper </h2></center>
<input type="button" value="Auto Refresh All Memories" id="autoRefreshAll">
<input type="button" value="Show All Memories" id="allMemories"><br>
<input type="button" value="Auto Refresh Specific Memory" id="specificMemory">

<div id="memoryNames">Names Here </div><br>
<div id="fieldsInfo"></div><br>
<input type="button" value="Post Data" id="postData">
<br>Part of <a href="http://www.mcs.anl.gov/petsc/">PETSc</a>.
</body>
